/*
 * Created by: Ashley Newman (asnewman@calpoly.edu)
 * Last updated: 10/20/2017
 * Used for the Career Services Readiness Model
 */

/* -----General----- */
* {

}

.circle .quarter {
   color: #FFF !important;
   font-family: 'Open Sans', sans-serif !important; /* Sadly, all these important tags are necessary due to files I do not have access too */
   font-size: 14px !important;
}

.circle-main {
   width:500px !important;
   height: 1500px !important;
   border: solid red 1px !important;
   position: relative !important;
}

.circle {
	border-radius: 50% !important;
}

/* -----Outer Circle----- */
.outer {
	position: relative !important;
	background-color:  #B4A76C !important;
	width: 500px !important;
	height: 500px !important;
   text-align: center !important;
}

.outer p {
   padding-top: 15px !important;
}

.outer:hover {
   transform: scale(1.05);
   -webkit-transform: scale(1.05);
   -moz-transform: scale(1.05);
   transition: all 200ms ease-in;
   -webkit-transition: all 200ms ease-in;
   -moz-transition: all 200ms ease-in;
}

.outer:hover ~ .info-box #emotional-intelligence {
   display: block;
}

/* -----Middle Circle----- */
.middle {
	position: absolute !important;
   top: 60px !important;
   left: 55px !important;
	background-color: #035642 !important;
	width: 400px !important;
	height: 400px !important;
   text-align: center !important;
   animation-delay: 1s;
   -webkit-animation-delay: .2s;
   -moz-animation-delay: .2s;
   -ms-animation-delay: .2s;
}

.middle p {
   padding-top: 5px !important;
}

.middle:hover {
   transform: scale(1.05);
   -webkit-transform: scale(1.05);
   -moz-transform: scale(1.05);
   transition: all 200ms ease-in;
   -webkit-transition: all 200ms ease-in;
   -moz-transition: all 200ms ease-in;
}

.middle:hover ~ .info-box #diversity-inclusivity {
   display: block;
}
/* -----Quarters----- */
.quarter {
	position: absolute !important;
	width: 150px !important;
	height: 150px !important;
} 

.quarter:hover {
   z-index: 1000 !important;
   transform: scale(1.05);
   -webkit-transform: scale(1.05);
   -moz-transform: scale(1.05);
   transition: all 200ms ease-in;
   -webkit-transition: all 200ms ease-in;
   -moz-transition: all 200ms ease-in;
}

.quarter p {
   text-align: center !important;
}

/* ---q1--- */
.q1 {
	border-radius: 100% 0 0 0 !important;
	background-color: #ccc5b5 !important;
	top: 110px !important;
	left: 105px !important;
   -webkit-animation-delay: .4s;
   -moz-animation-delay: .4s;
   -ms-animation-delay: .4s;
}

.q1 p {
   position: absolute !important;
   top: 65px !important;
   left: 65px !important;
}

.q1:hover ~ .info-box #growth-mindset {
   display: block;
}
/* ---q2--- */
.q2 {
	border-radius: 0 100% 0 0 !important;
	background-color: #9cad89 !important;
	top: 110px !important;
	left: 255px !important;
   -webkit-animation-delay: .6s;
   -moz-animation-delay: .6s;
   -ms-animation-delay: .6s;
}

.q2 p {
   position: absolute !important;
   top: 65px !important;
   left: 20px !important;
}

.q2:hover ~ .info-box #relationship-management {
   display: block;
}
/* ---q3--- */
.q3 {
	border-radius: 0 0 100% 0 !important;
	background-color: #85766f !important;
	top: 260px !important;
	left: 255px !important;
   -webkit-animation-delay: .8s;
   -moz-animation-delay: .8s;
   -ms-animation-delay: .8s;
}

.q3 p {
   position: absolute !important;
   top: 10px !important;
   left: 20px !important;
}

.q3:hover ~ .info-box #professional-foundation {
   display: block;
}
/* ---q4--- */
.q4 {
	border-radius: 0 0 0 100% !important;
	background-color: #b5a37f !important;
	top: 260px !important;
	left: 105px !important;
   -webkit-animation-delay: 1s;
   -moz-animation-delay: 1s;
   -ms-animation-delay: 1s;
}

.q4 p {
   position: absolute !important;
   top: 10px !important;
   left: 55px !important;
}

.q4:hover ~ .info-box #career-navigation {
   display: block;
}
/* ---Information Boxes--- */
.info-box {
   color: #000 !important;
   width: 600px !important;
   margin-top: 20px !important;
   font-family: 'Open Sans', sans-serif !important; /* Sadly, all these important tags are necessary due to files I do not have access too */
   font-size: 14px !important;
}

.info-box img {
   padding: 0 !important;
   margin: 0 !important;
   margin-bottom: -8px !important;
   width: 40px !important;
}

.extra-padding {
   padding: 20px;
}

#emotional-intelligence {
   background-color: #F3ECE1;
   display: none;
}

#diversity-inclusivity {
   background-color: #D3DED8;
   display: none;
}

#relationship-management {
	background-color: #EEF0E8;
   display: none;
}

#professional-foundation {
   background-color: #DEDDDE;
   display: none;
}

#career-navigation {
   background-color: #E8E0D4;
   display: none;
}

#growth-mindset {
   background-color: #D9D4C6;
   display: none;
}
