/* Quick fix file for the Career Services Website */
/* All code here is temporary until access to the AWS S3 is granted */

/* Author: Ashley Newman (asnewman@calpoly.edu) */
/* Last updated: Oct 12 2017 */

.long-title {
   white-space: nowrap;
   overflow: scroll;
}

.linkedin-div {
   margin: 0 auto;
   text-align: center;
   width: 500px;
}

.top-banner {
   width: 33%;
   border: solid red 1px;
   display: block-inline;
}
